<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vip.shop.mapper.NavigationMapper">
    <resultMap id="Base_Result_Map" type="Navigation">
        <id property="navId" column="nav_id"/>
        <result property="navName" column="nav_name"/>
    </resultMap>

    <select id="findNavigations" resultMap="Base_Result_Map">
        select *
        from navigation
    </select>



</mapper>